<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>JoyLabs assignment - Firstname Lastname</title>

		<link rel="stylesheet" type="text/css" href="assets/css/app.css">
	</head>

	<body>
		<div ng-app="ngAppAssignment">
			<div class="cv" ng-controller="assignmentController">
				<section class="cv__wrapper top">
					<div class="cv__user">
						<img src="assets/images/user.png">
						<div ng-model="user">
							<ul class="list" >
								<li ><h1>{{user.firstname}} {{user.lastname}}</h1></li>
								<li>{{user.city}}</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="cv__wrapper">
					<div class="cv__cv">
							<div class="cv__cv--heading left">
								<ul class="list">
									<li><h1>Curiculum Vitae</h1></li>
									<li>Vælg årstal</li>
								</ul>	
							</div>
							<div class="cv__cv--input right">
								    <form class="cv__cv--dropdown">
									    <select
											ng-model="year"
											ng-change="updateList(year)"
											ng-options="year for year in yearsList">
											<option value="">Alle år</option>
										</select>
								    </form>
							</div>
						</div>
				</section>
				<section class="cv__wrapper bottom">
						<table class="cv__cv--table">
							<thead>
								<tr>
									<th>Ansat hos</th>
									<th class="right">Dato</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="job in filteredList">
									<td><span>{{job.title}}</span><br />{{job.desc}}</td>
									<td class="right"><span>{{job.year}}</span></td>
								</tr>
							</tbody>
						</table>
					<div class="cv__cta" ng-model="user">
						<a href="http://{{user.website}}" class="button left">
							<h1>Visit</h1>
							<span>{{user.website}}</span>
						</a>
						<a href="#" class="button blue right">
							<h1>Download</h1>
							Curiculum Vitae 2015
						</a>
					</div>
				</section>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
</html>